button {
    color: green;
    background-color: skyblue;
  }
  h1 {
    color: yellow;
    background-color: black;
  }
  #mainStream {
    font-family: monospace;
    border: 1px solid gray;
    padding: 16px;
    border-radius: 4px;
  }
  .Tech-skills {
    font-family: monospace;
    border: 1px solid gray;
    padding: 16px;
    border-radius: 4px;
  }