h1{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.fa-twitter{
    color: skyblue;

}
.fa-facebook{
    color:rgb(62, 62, 214);

}
.fa-youtube{
    color: red;

}