*{
    box-sizing: border-box;
}

#boxElement{
    background-color: #333;
    border: 2px dashed red;
    color: white;
    padding: 30px;
    max-height: 280px;
    overflow-y: auto;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;



}